body
{
    column-count: 3;
    background-color: #112147;

    color: aliceblue;
    font-family: monaco, monospace;
	background-image: url('porsche.jpg');

    text-align: center;
    display: grid;
    grid-auto-flow: column;
    
}

h1
{
    font-family: monaco, monospace;
    font-size: 70px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}

h2
{
    padding-top: 0px;
}

ul
{
    padding: 10px;
    margin: auto;
}

ul li
{
    margin-bottom: 20px;
}



#transparent-box
{
    padding-top: 10px;
    padding-bottom: 25px;
    background-color: rgba( 72, 72, 72, 0.6);
}


#car-button
{
    border-radius: 8px;
    background-color: #112147;
    color:aliceblue;
    border: 2px solid goldenrod;
    font-size: x-large;
    width: 180px;

    transition-duration: 0.2s;

    box-shadow: 0 8px gray;
    
}



#car-button:hover
{
    background-color: goldenrod;
    color: #112147;
}

#car-button:active
{
    box-shadow: 0 5px goldenrod;
    transform: translateY(2px);
}

#Saved-Cars
{
    display: grid;
}

li
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 10px;
    border: 2px solid goldenrod;
    border-radius: 8px;
    background-color: #112147;
}

.car-year:before
{
    font-weight: 900;
    content: "Year: ";
}

.car-year
{
    padding: 10px;
}

.car-make:before
{
    font-weight: 900;
    content: "Make: ";
}

.car-make
{
    padding: 10px;
}

.car-model:before
{
    font-weight: 900;
    content: "Model: ";
}

.car-model
{
    padding: 10px;
}

.car-type:before
{
    font-weight: 900;
    content: "Type: ";
}

.car-type
{
    padding: 10px;
}

.car-rating:before
{
    font-weight: 900;
    content: "Rating: ";
}

.car-rating
{
    padding: 10px;
}
.delete-button
{
    border-radius: 8px;
    background-color: #112147;
    color:aliceblue;
    border: 2px solid goldenrod;
    font-size: large;
    width: 180px;
}

.edit-button
{
    border-radius: 8px;
    background-color: #112147;
    color:aliceblue;
    border: 2px solid goldenrod;
    font-size: large;
    width: 180px;
}

#new-box
{
    display: none;
    align-content: center;
}

.update-button
{
    border-radius: 8px;
    background-color: #112147;
    color:aliceblue;
    border: 2px solid goldenrod;
    font-size: x-large;
    width: 180px;

    transition-duration: 0.2s;

    box-shadow: 0 8px gray;
    display: none;
}

.update-button:hover
{
    background-color: goldenrod;
    color: #112147;
}

.update-button:active
{
    box-shadow: 0 5px goldenrod;
    transform: translateY(2px);
}

.edit-button:hover
{
    background-color: goldenrod;
    color: #112147;
}

.edit-button:active
{
    box-shadow: 0 5px goldenrod;
    transform: translateY(2px);
}

.delete-button:hover
{
    background-color: goldenrod;
    color: #112147;
}

.delete-button:active
{
    box-shadow: 0 5px goldenrod;
    transform: translateY(2px);
}

#login-button
{
    border-radius: 8px;
    background-color: #112147;
    color:aliceblue;
    border: 2px solid goldenrod;
    font-size: x-large;
    width: 180px;

    transition-duration: 0.2s;

    box-shadow: 0 8px gray;
    display: inline-block;
}

#login-button:hover
{
    background-color: goldenrod;
    color: #112147;
}

#login-button:active
{
    box-shadow: 0 5px goldenrod;
    transform: translateY(2px);
}

#create-button
{
    border-radius: 8px;
    background-color: #112147;
    color:aliceblue;
    border: 2px solid goldenrod;
    font-size: x-large;
    width: 180px;

    transition-duration: 0.2s;

    box-shadow: 0 8px gray;
    display: inline-block;
}

#create-button:hover
{
    background-color: goldenrod;
    color: #112147;
}

#create-button:active
{
    box-shadow: 0 5px goldenrod;
    transform: translateY(2px);
}